html {
    height: 83%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-image: url('Heroes/images/patternfundo.png');
    background-size: cover;
    height: 100%;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #54A3C6;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #091832;
    color: #71D9FF;
    height: 60%;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

#logo {
    height: 36%;
    margin-top: 25px;
}

#description {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
}

#leftDescription {
    width: 30%;
    text-align: left;
}

#rightDescription {
    width: 30%;
    text-align: left;
}

hr {
    border-top: 200px solid #ccc; /* Altere a espessura e a cor conforme necessário */
    margin: 20px; /* Adiciona margem superior e inferior */
    margin-left: 50px;
    margin-right: 50px;
}

#heroesBtn {
    height: 20%;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #54A3C6;
    border-radius: 5px;
    background-color: #091832;
    color: #54A3C6;
    transition: all 0.2s ease-in-out;
    font-size: 50px;
    font-family: 'Fira code', monospace;
}

#heroesBtn:hover {
    background-color: #13233f;
    color: #74cdf3;
    transform: scale(1.005);
    border: 4px solid #54A3C6;
}

.footer {
    width: 100%;
    border: 2px solid #54A3C6;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #091832;
    color: #71D9FF;
    height: 20%;

    display: flex;
    justify-content: center;

    div {
        margin-left: 100px;
        margin-right: 100px;
        padding: 5px;
        line-height: 80%;
        font-family: 'Quicksand', monospace;

        h3 {
            font-size: 18px;
        }

        p {
            font-size: 15px;
        }
    }
}