html {
    height: 80%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-image: url('images/patternfundo.png');
    background-size: cover;
    height: 100%;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

/*#region header div*/
.header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #54A3C6;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #091832;
    color: #54A3C6;
    height: 20%;
}

#logo {
    height: 95%;
}
/*#endregion*/

.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 80%;
}

/*#region btns div*/
.btns {
    display: inline-block;
    color: #54A3C6;

    width: 20%;
}

button {
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #0f3269; /* Altere a cor conforme desejar */
    color: #74cdf3;
    transform: scale(1.01);
}

button:active {
    transform: scale(0.95);
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.hero_btn {
    border-radius: 5px;
    border: 2px solid #54A3C6;
    background-color: #091832;
    color: #54A3C6;
    font-family: 'Quicksand', monospace;
    font-size: 27px;
    text-transform: uppercase;
    cursor: pointer;
    height: 18%;
}

.hero_btn.active {
    background-color: #1B74A8;
    color: #CCEFFF;
}

.pageSelectors {
    height: 7%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#page {
    border-radius: 5px;
    border: 2px solid #54A3C6;
    background-color: #091832;
    color: #54A3C6;
    text-align: center;
    font-family: 'Quicksand', monospace;
    font-size: 27px;
    text-transform: uppercase;

    width: 19%;
}

#btnPrev, #btnNext {
    border-radius: 5px;
    border: 2px solid #54A3C6;
    background-color: #091832;
    color: #54A3C6;
    font-family: 'Quicksand', monospace;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    height: 100%;
    width: 40%;
}
/*#endregion*/

.description {
    display: inline-block;
    border: 2px solid #54A3C6;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #091832;
    color: #54A3C6;
    text-align: left;
    padding: 40px;
    font-family: 'Fira Code', monospace;

    width: 39%;
}

.titulos {
    font-weight: bold;
    color: #CCEFFF;
    line-height: 0.1;
}

#id, #origem, #poder, #inimigo {
    line-height: 1.2;
}

.hero {
    display: inline-block;
    border: 2px solid #54A3C6;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #091832;
    color: #54A3C6;
    text-align: center;
    padding: 35px;
    font-family: 'Quicksand', monospace;

    width: 40%;
}

.image {
    object-fit: cover;
    object-position: top;
    border: 2px solid #54A3C6;
    width: 100%;
    height: 87%;
}

main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}